*{
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.fill{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.modeButton{
  position: absolute;
  top: 2vh;
  right: 2vw;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 2vh;
  display: flex;
  justify-content: center;
}

.content {
  padding-bottom: 100px;
}

.listComponent{
  display: flex;
  padding: 10px;
  margin: 10px;
}

.title{
  padding: 20px;
  text-align: center;
}

.search{
  padding-top: 10vh;
  display: flex;
  justify-content: center;
}

.detail{
  display: flex;
  padding: 10px;
  margin: 10px;
}

.image{
  padding-right: 20px;
}

.button{
  height: 6vh;
  width: 10vw;
  font-size: 2vw;
}

.button2{
  font-size: 2vw;
  height: 10vh;
  width: 20vw;
}

.homePage{
  text-align: center;
}

.home{
  margin-top: 30vh;
  display: flex;
  justify-content: space-around;
  height: 100vh;
}